.calculator{
    display: flex;
     align-items: center;
    justify-content: center;
}
.contatiner { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
 width: 600px;
 height: 700px;
}
.contatiner >div {
    background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.span-2 {
    grid-column: span 2;
}
