.calculator {
    display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column;
}
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    padding: 25px 7px;
    text-align: right;
    font-size: 40px;
    width: 400px;
    border: solid;

    border-color: #2196F3;
}

.contatiner { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
 width: 400px;
 height: 500px;
}
.contatiner > button {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.span-2 {
    grid-column: span 2;
}
